<h1>Taproom Updates</h1>
<div class="card" style="height: 300px; overflow: scroll;">
  <ul class="list-group list-group-flush">
    <% @posts.each do |post| %>

      <li class="list-group-item">
        <p><%= link_to post.taproom.brewery, taproom_path(post.taproom)%></p>
        <p><%= post.content[0..120] %><% if post.content.length > 120 %> ... <a href='#' data-toggle='modal' data-target='#Modal<%= post.id %>'>read more</a><% end %></p>
        <small class="text-muted">Posted: <%= human_date(post.updated_at) %></small>
      </li>
    <% end %>
  </ul>
</div>

<% @posts.each do |posts| %>
<div class="modal fade" id="Modal<%= posts.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= posts.taproom.brewery %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><%= simple_format(posts.content) %></div>
      <div class="modal-footer">
        <small class="text-muted">Posted: <%= human_date(posts.updated_at) %></small>
      </div>
    </div>
  </div>
</div>
<% end %>
<br>
<h1>Recently Added</h1>
<p class="text-right"><%= link_to 'See All', index_path %></p>
<div class="card-columns">
  <% @taprooms.recents.each do |tap| %>
      <div class="card text-center">
        <%= image_tag tap.img_url, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= tap.brewery %></h5>
          <p class="card-text"><%= tap.stars %></p>
          <%= link_to 'View Taproom', taproom_path(tap), class: "btn btn-primary" %>
        </div>
    </div>
  <% end %>
</div>
