<div class="row">
  <div class="col-md-6">
    <h4 class="display-4 text-left""><%= @user.name %></h4>
  </div>
  <div class="col-md-6  text-right">
    <%= gravatar_for(@user) %>
  </div>
</div>
<br><br ><br >

<div class="row">
  <div class="col-md-6">
    <h2 class="text-left">Reviews</h2>
    <% if @reviews.any? %>
      <div class="list-group">
        <% @reviews.each do |review| %>
          <a href="<%= taproom_path(review.taproom_id) %>" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= review.taproom.brewery %></h5>
              <small><%= review.visit_date.strftime("%d %b %Y") %></small>
            </div>
            <p class="mb-1"><%= review.comment %></p>
            <small>Rating: <%= review.stars %></small>
          </a>
        <% end %>
      </div>
    <% else %>
      <p>No Reviews Yet.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2 class="text-left">Favourites</h2>
    <% if @favourites.any? %>
      <div class="list-group">
      <% @favourites.each do |favourite| %>
        <a href="<%= taproom_path(favourite.taproom_id) %>" class="list-group-item list-group-item-action ">
          <h5 class="text-left"><%= favourite.taproom.brewery %></h5>
        </a>
      <% end %>
      </div>
    <% else %>
      <p>No favourites yet.</p>
    <% end %>
  </div>
</div>
