<div class="row">
  <div class="col-md-6">
    <h4 class="display-4 text-left""><%= @user.name %></h4>
  </div>
  <div class="col-md-6  text-right">
    <%= gravtar_for(@user) %>
  </div>
</div>
<br><br ><br >

<div class="row">
  <div class="col-md-6">
    <h2 class="text-left">Reviews</h2>
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <p>
          <%= link_to review.brewery, taproom_path(review.taproom_id)%><br>
          <%= review.comment %></p>
      <% end %>
    <% else %>
      <p>No Reviews Yet.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2 class="text-left">Favourites</h2>
    <% if @favourites.any? %>
      <% @favourites.each do |favourite| %>
        <p>
          <%= link_to favourite.taproom.brewery, taproom_path(favourite.taproom_id)%><br>
      <% end %>
    <% else %>
      <p>No favourites yet.</p>
    <% end %>
  </div>
</div>
