<h1><%= @post.title %></h1>
<ul class="nav nav-tabs card-margin">
  <li class="nav-item">
    <a class="nav-link" href="<%= posts_path %>">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= new_post_path %>">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled active" href="">View</a>
  </li>

  <li class="nav-item">
      <%= link_to 'Edit', edit_post_path(@post), class: "nav-link"%>
  </li>
  <li class="nav-item">
    <% if @post.published %>
      <%= link_to 'Unpublish', post_publish_path(@post), method: :post, class: "nav-link" %>
    <% else %>
      <%= link_to 'Publish', post_publish_path(@post), method: :post, data: { confirm: 'Confirm publish?' }, class: "nav-link"  %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "nav-link" %>
  </li>
</ul>
<div class="text-center"><strong><%= "UNPUBLISHED" if !@post.published %></strong></div>

  <p class="lead"><%= simple_format(@post.content) %></p>
