<!DOCTYPE html>
<html>
  <head>
    <title>Tap Advisor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVIGATION BAR -->
    <header>
      <nav class="navbar navbar-expand-md fixed-top">
        <%= link_to "Tap Advisor", root_path, class: "navbar-brand taptitle" %>

        <div class="navbar-collapse">
        </div>

        <%= form_tag(taprooms_search_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag 'query', nil, placeholder: 'Search Taprooms', class: "form-control mr-sm-2 text-field-col"%>
          <%= submit_tag 'Go', class: "btn btn-secondary my-2 my-sm-0"%>
        <% end %>


        &nbsp;&nbsp;
        <% if logged_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name.split(" ").first %>
            </button>
              <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <% if current_user && current_user.admin %>
                <%= link_to "Manage Users", users_path, class: "dropdown-item" %>
                <%= link_to "Add Taproom", new_taproom_path, class: "dropdown-item" %>
              <% end %>
              <% if current_user && current_user.taproom_id %>
                <%= link_to "Taproom Posts", posts_path, class: "dropdown-item" %>
                <%= link_to "Taproom Settings", edit_taproom_path(current_user.taproom_id), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Sign Out", logout_path, class: "dropdown-item" %>
            </div>
          </div>
          <% else %>
            <%= link_to "Log in", login_path, class: "btn btn-primary" %>
          <% end %>

      </nav>
    </header>

    <!-- MAIN CONTENT -->
    <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
    </div>

    <!-- FEEBACK BUTTON -->
    <div>
      <button type="button" name="button" class="btn btn-primary feedback" data-toggle="modal" data-target="#exampleModalCenter">Feedback</button>
    </div>

    <!-- FEEDBACK FORM -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">FEEDBACK</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="form-group">
              <div class="modal-body">
                <%= form_tag feedback_path do %>
                <%= text_area_tag "feedback[content]", nil, method: "post", class: "form-control"%>
                <div class="modal-footer">
                  <%= submit_tag 'Send', class: "btn btn-primary"%><% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
