<!DOCTYPE html>
<html>
  <head>
    <title>Tap Advisor</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top">
        <%= link_to "Tap Advisor", taprooms_path, class: "navbar-brand taptitle" %>

        <div class="navbar-collapse">
        </div>

        <%= form_tag(taprooms_search_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag 'query', nil, placeholder: 'Search Taprooms', class: "form-control mr-sm-2 text-field-col"%>
          <%= submit_tag 'Go', class: "btn btn-secondary my-2 my-sm-0"%>
        <% end %>


        &nbsp;&nbsp;
        <% if logged_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <%= link_to "Sign Out", logout_path, class: "dropdown-item" %>
            </div>
          </div>
          <% else %>
            <%= link_to "Log in", login_path, class: "btn btn-primary" %>
          <% end %>

      </nav>
    </header>


    <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
    </div>
      <%= debug(params) if Rails.env.development? %>
    </body>
</html>
